[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/ctags"]
	path = vim/bundle/ctags
	url = git://github.com/fishman/ctags.git
[submodule "vim/bundle/ctags.vim"]
	path = vim/bundle/ctags.vim
	url = git://github.com/vim-scripts/ctags.vim.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/comments.vim"]
	path = vim/bundle/comments.vim
	url = git@github.com:ssedano/comments.vim.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-foreplay"]
	path = vim/bundle/vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath
[submodule "vim/bundle/xml.vim"]
	path = vim/bundle/xml.vim
	url = git://github.com/othree/xml.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/Pydiction"]
	path = vim/bundle/Pydiction
	url = git@github.com:ssedano/Pydiction.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = git@github.com:ssedano/tcomment_vim.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace
[submodule "vim/bundle/vim-ruby-debugger"]
	path = vim/bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "vim/bundle/vim-jedi"]
	path = vim/bundle/vim-jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "zsh/git-prompt"]
	path = zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "zsh/zsh-vcs-prompt"]
	path = zsh/zsh-vcs-prompt
	url = https://github.com/yonchu/zsh-vcs-prompt.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
